@mixin fullabsolute($left,$top,$w,$h,$zindex){
  position: absolute;
  left: $left;
  top: $top;
  z-index: $zindex;
  @include size($w,$h);
}

/*Common setting for all page*/
html,body{
  width: 100%;
  height: 100%;
}
body{
  background: url("../images/bg.jpg") center center no-repeat;
  background-size: 100% 100%;
}
.wrapper{
  height: 100%;
  @include fullabsolute(0,0,100%,100%,1);
}

.logo{
  @include size(2.8rem,1.18rem);
  margin: 0 auto 0.4rem;
}
.beauty{
  @include size(1.59rem,1.59rem);
  border-radius: 100%;
  overflow: hidden;
  margin: 0.2rem auto 0.6rem;
}

.pin{
  opacity: 0;
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  @include size(100%,100%);
  box-sizing: border-box;
  overflow: hidden;
  @include transition(opacity 1s);
  //display: none;
  &.current{
    display: block;
    opacity: 1;
    z-index: 1;
  }
}


.btn{
  position: relative;
  text-align: center;
  display: block;
  width: 3.24rem;
  height: 0.76rem;
  margin: 0 auto;
  color: #fff;
  font-size: 0.32rem;
  box-sizing: border-box;
  .tt{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    @include size(100%,100%);
    line-height: .76rem;
    background: #000;
    .times{
      font-size: 0.24rem;
    }
  }
}

//for wrapper
.wrapper{
  opacity: 0;
}
.bg{
  overflow: hidden;
}
.container{
  background: rgba(232,232,232,0.6);
}

*::-webkit-input-placeholder {
  color: #BDAD9E;
}
*:-moz-placeholder {
  color: #BDAD9E;
}
*::-moz-placeholder {
  color: #BDAD9E;
}
*:-ms-input-placeholder {
  color: #BDAD9E;
}


// For menu
.menu-box{
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;

}
.search-box{
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.category-menu{
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
}

// hide
.look-lists,
.product-details{
  display: none;
}
